@import "styles/core";

.Items {
  display: block;
  position: relative;

  &-content,
  &-item {
    //transition: .2s ease-out;
    //transition-property: width, opacity, right;
  }

  &-content {
    width: 100%;
  }

  &-item {
    background: $body-bg;
    position: absolute;
    right: -50%;
    width: 50%;
    top: 0;
    height: 100%;
    opacity: 0;
    padding-left: $spacer / 2;
  }

  $self: &;

  &--item {
    #{$self}-content {
      padding-right: $spacer / 2;
      width: 50%
    }

    #{$self}-item {
      opacity: 1;
      right: 0;
    }
  }
}
