@import "styles/core";

$overview-size: 100%;
$image-size: 100%;

.ItemDetail {
  position: relative;
  display: flex;

  &-body {
    flex: 1;
  }

  &-right {
    flex-basis: 50%;
    margin-left: $spacer;
  }

  &-title {
  }

  &-params {
    padding: 0;
    margin: $spacer 0;

    li {
      padding: spacer(3) 0;
      border-top: 1px solid $gray-800;
      border-bottom: 1px solid $gray-800;
      display: flex;
    }

    h4 {
      margin: 0 spacer(2) 0 0;
      font-weight: $font-weight-normal;
      color: $gray-600;
    }

    span {
      flex: 1;
      text-align: right;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;

    .Button {
      flex: 0 0 47%;
    }
  }

  &-overview {
    height: $overview-size;
    position: relative;
  }

  &-image {
    height: $overview-size;
    position: relative;
    padding-top: $overview-size;

    transition: transform .1s ease-out;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: $image-size;
      height: auto;
      display: block;
    }
  }
}
