@import "styles/core";

$overview-size: 80%;
$image-size: 100%;

.ItemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: $card-bg;
  background-clip: border-box;
  border: $card-border;

  @include hover-focus {
    background-color: $gray-800;
  }

  &-top,
  &-body,
  &-bottom {
    padding: $spacer;
  }

  &-top {
    display: flex;
    padding-bottom: 0;
  }

  &-bottom {
    padding-top: 0;
  }

  &-title {
    flex: 1;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    margin: 0;
  }

  &-quantity {
    margin-left: spacer(3);
  }

  &-overview {
    height: $overview-size;
    position: relative;
  }

  &-image {
    height: $overview-size;
    position: relative;
    padding-top: $overview-size;

    transition: transform .1s ease-out;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: $image-size;
      height: auto;
      display: block;
    }
  }
}
