html {
  background-color: $bgColor;
}

.navbar,
.navbar div.links,
.sidebar,
.theme-container{
  color: $textColor;
  background-color: $bgColor;
}

.links .search-box input,
.tip.custom-block {
  background-color: $codeBgColor;
  border-color: $accentColor;
}
