$white: #fff;
$gray-100: #e6e7e8;
$gray-200: #cdced1;
$gray-300: #b4b6ba;
$gray-400: #9b9ea3;
$gray-500: #696d75;
$gray-600: #50555e;
$gray-700: #373d47;
$gray-800: #1e2430;
$gray-900: #0e1420;
$black: #050c19;

$blue: #2254F5;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$body-bg: $black;
$body-color: $gray-100;
