@import "styles/core";

.UserImage {
  width: 100%;
  height: 100%;

  @include basic-modifiers($avatar-sizes, '--size-');

  &-body,
  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  &-body {
    border-radius: 50%;
    overflow: hidden;
    background: $avatar-bg;
  }
}
